.tabla-pedidos2 {
    width: 100%;
    border-collapse: collapse;
    background: #2b2b2b;
    margin-top: 10px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .tabla-pedidos2 th, .tabla-pedidos2 td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .tabla-pedidos2 th {
    background-color: #f3d023;
    color: black;
  }
  
  .entregar2-btn {
    background-color: #f3d023;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
  }
  .entregar2-btn:hover {
    background-color: #f9fd06;
  }
  



  .entregar3-btn {    
    display: block;
    
    margin: 0 auto;
    border-radius: 10px;
  
    background-color: #23d632;
  }
  .entregar3-btn:hover {
    background-color: #1bfd06;
  }
  


  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
  }
  .modal-content {
    background: #d6d5d5;
    padding: 20px;
    border-radius: 12px;
    width: 400px;
    
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }
  input {
    padding: 6px;
    
  }
  .botones {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .guardar{
    background: #2f01ff;
    color: white;
  }
  .cancelar{
    background: #ff0303;
    color: white;
  }