.form-container {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    margin-top: 85px;
    
}

.login-form, .register-form {
    width: 35%;
    
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-form h2, .register-form h2 {
    font-weight: bold;
    color: #333;
}












form label {
    display: block;
    margin: 5px 0 3px; /* antes era 10px 0 5px */
    font-weight: bold;
    color: #333;
  }
  
  form input {
    width: 100%;
    padding: 6px; /* antes era 10px */
    margin-bottom: 3px; /* antes era 10px */
    border: 2px solid #0000FF;
    border-radius: 5px;
    outline: none;
  }
  
  .btn {
    background-color: purple;
    color: white;
    padding: 8px 16px; /* antes era 10px 20px */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .login-form {
    width: 35%;
    background-color: #f9f9f9;
    padding: 20px; /* antes era 40px */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

.acceso-btn {
    margin-top: 10px;
    width: 100%;
}

.volver-btn {
    margin-top: 10px;
    background-color: #797979;
    width: 25%;
}

.volver-btn:active {
    background-color: #b4b4b4;
    color: white;
}

.registro-btn {
    width: 100%;
}

.forgot-link {
    color: #3333FF;
    display: inline-block;
    margin-top: 5px;
    font-size: 14px;
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}



.description h2 {
    font-size: 40px;
    font-weight: bold;
}

.description p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}


/*body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}*/

/*a{
    text-decoration: none;
    color: white;
}

nav a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:active {
    color: #050505;
}*/

@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
        align-items: center;
    }
    
    .login-form, .register-form {
        width: 80%;
        margin-bottom: 20px;
    }
}